nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline; /* Horizontale Anordnung der Navigation */
    margin: 0 15px; /* Abstand zwischen den Links */
}

nav ul li a {
    color: white; /* Weißer Text für Links */
    text-decoration: none;
}

.input-container {
    margin: 15px 0; /* Abstand zwischen den Eingabefeldern */
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    margin-top: auto; /* sorgt dafür, dass der Footer am Ende bleibt */
}

.autocomplete-items {
    border: 1px solid #ddd;
    border-top: none;
    z-index: 99;
    top: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.list-group-item-action.active {
    z-index: 2;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}