:root {
    --bs-primary: #3498db;    
    --bs-secondary: #2c3e50;  
    --bs-success: #2ecc71;    
    --bs-info: #1abc9c;       
    --bs-warning: #f39c12;    
    --bs-danger: #e74c3c;     
    --bs-light: #ecf0f1;      
    --bs-dark: #34495e;       
}

body {
    background-color: var(--bs-light);
    color: var(--bs-dark);
	display: flex;
	flex-direction: column;
}

.navbar {
    background-color: var(--bs-primary);
}

.hero-section {
    background: linear-gradient(135deg, 
        var(--bs-primary) 0%, 
        var(--bs-info) 100%);
    color: white;
}

.search-form {
    background-color: white;
    border: 1px solid var(--bs-info);
    box-shadow: 0 4px 15px rgba(52, 152, 219, 0.2);
}

.btn-search {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
    transition: all 0.3s ease;
}

.btn-search:hover {
    background-color: var(--bs-info);
    transform: translateY(-3px);
}

footer {
	width:100%;
	height: 140px;
	background-color: var(--bs-secondary);
	color: var(--bs-light);
	margin-top: auto;
}
